
:root{
    --mainColor:#9b6d6f;
    --secondaryColor:blue;

    --borderColor:#fff;

    --mainText: #fff;
    --secondaryText: #fff;
    --linkColor: magenta;
    --themeDotWrapper: #242131;
}

$boxshadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
